.container {
  $bg: #00ffc8;
  $greenHeight: 140px;
  $whiteHeight: 631px;

  width: 631px;
  height: 911px;

  background-image:
    url("./field.png"),
    linear-gradient(to bottom,
      $bg 0px, $bg $greenHeight,
      white $greenHeight, white $greenHeight+$whiteHeight,
      $bg $greenHeight+$whiteHeight, $bg $greenHeight+$whiteHeight+$greenHeight);
  background-repeat: no-repeat;
  background-position: left $greenHeight, left top;
}

.opponentTurnContainer {
  cursor: not-allowed;
}

.selection {
  animation: selection_anime 0.8093s ease -2 * 0.8093s infinite alternate;
}

.guide {
  animation: guide_anime 0.8093s ease -2 * 0.8093s infinite alternate;
  opacity: 0.3;
}

@keyframes selection_anime {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes guide_anime {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.7;
  }
}

.stepOverMoveSelectionTarget {
  opacity: 0.1;
}

.overlay {
  background-color: rgba(0,0,0,0.5);
  width: 631px;
  height: 911px;
  position: absolute;
}
